body {
    margin: 0;
    background: rgb(128, 92, 92);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: rgba(255, 255, 255, .6);
    font-size: .9rem;
}

article {
    max-width: 1000px;
    width: 100%;
    height: 6rem;
    margin: 1rem;
    background: rgb(238, 238, 238);
    display: flex;
}

article.reverse {
    flex-direction: row-reverse;
}

article section {
    padding: .5rem;
}

article .box-1 {background:rgb(100, 0, 0); flex: 1;}
article .box-2 {background:rgb(100, 20, 0); flex: 1;}
article .box-3 {background:rgb(100, 40, 0); flex: 1;}
article .box-4 {background:rgb(100, 60, 0); flex: 2;}
article .box-5 {background:rgb(100, 80, 0); flex: 3;}
article .box-6 {background:rgba(100,100,0,1); flex: 5;}
article .box-7 {background:rgb(100, 120, 0); flex: 8;}
article .box-8 {background:rgb(100, 140, 0); flex: 13;}
article .box-9 {background:rgb(100, 160, 0); flex: 21;}
article .box-10 {background:rgb(100, 180, 0); flex: 34;}